
.cache
.config/JetBrains/IntelliJIdea2022.1
.config/awesome/rc.lua.back
.config/dconf
.config/fcitx/dbus
.config/ibus/bus
.config/lazygit
.config/microsoft-edge
.config/kdiff3rc
.java
.local/share
.mozilla/firefox
.pki/nssdb
.ssh
.subversion
Downloads
download
package
software
.gitconfig