set scrolloff=5

set incsearch
set clipboard+=unnamed
set autoindent

map Q gq

nnoremap L $
nnoremap H ^

noremap <C-j> 5j
noremap <C-k> 5k

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
:set keep-english-in-normal
